@charset "utf-8";
@import "normalize";
@font-face {
  font-family: adihaus;
  src: url('../AdihausDIN-Cn.ttf'),
}

@font-face {
  font-family: adineuelight;
  src: url('../adineuePRO-Light.otf'),
}

body {
  background: #000 !important;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

#grafiti-container {
  #grafiti-top {
    background-image: url('../images/grafiti_top.jpg');
    background-size: 100% 120px;
    background-repeat: no-repeat;
    height: 120px;
    margin-top: 50px;
  }

  #grafiti-middle {
    background-image: url('../images/grafiti_middle.jpg');
    background-size: 100% 120px;
    background-repeat: no-repeat;
    height: 120px;
    margin-top: 50px;
  }

  #grafiti-bottom {
    background-image: url('../images/grafiti_bottom.jpg');
    background-size: 100% 120px;
    background-repeat: no-repeat;
    height: 120px;
    margin-top: 50px;
  }

  #grafiti-middle-bottom {
    display: none;
    background-image: url('../images/grafiti_middle.jpg');
    background-size: 100% 120px;
    background-repeat: no-repeat;
    height: 120px;
    margin-top: 50px;
  }

  #grafiti-bottom-bottom {
    display: none;
    background-image: url('../images/grafiti_bottom.jpg');
    background-size: 100% 120px;
    background-repeat: no-repeat;
    height: 120px;
    margin-top: 50px;
  }


  #base-logo-container {
    margin-top: 5%;

    #base-logo {
      width: 100%;
    }

    h1 {
      position: relative; 
      top: -2px;
      margin: 0;
      padding: 0;
      color: white; 
      font-size: 56px;
      line-height: 50px;
    }
  }

  #info-container {
    margin-top: 40px;
    color: white;
    letter-spacing: 5px;

    .info-text {
      .second-line {
        display: block;
      } 
    }

    .base-button {
      width: 100%;
      margin-bottom: 30px;
      text-align: center;
      padding: 7px 0;
      p {
        font-family: adihaus; 
        font-size: 20px;
        margin: 0;
      }
    }

    p.header {
      font-family: adihaus; 
      font-size: 25px;
      padding: 0;
      margin: 0;
    }

    p.address {
      font-family: adineuelight;
      position: relative;
      top: -30px;
      font-size: 17px;
      color: white; 
      line-height: 35px;
    }

    .info-time {
      position: relative; 
      right: -8px;
    }
  }

  #website-info-container {
    h3 {
      color: white;
      font-family: adihaus;
      letter-spacing: 8px;
      font-size: 27px;
    }

    #seperator {
      background: white;
      margin-top: 10px;
      height: 35px;
    }
  }

  #logo-container {
    margin-bottom: 40px;

    .col-md-3 {
      min-height: 200px;
      text-align: center;
      line-height: 200px;


      img {
        width: 70%;
      }

    } 

  }
}

@media(max-width:767px){ 
  #logo-container {
    margin-bottom: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  #grafiti-middle-bottom {
    display: block !important;
    margin-top: 10px !important;
  }

  #grafiti-bottom-bottom {
    display: block !important;
    margin-top: 25px !important;
  }

  #grafiti-top {
    margin-top: 20px !important;
  }

  #grafiti-middle {
    display: none;
  }

  #grafiti-bottom {
    display: none;
  }

  #base-logo-container {
    .info-text {
      margin-top: 5%;
    }
  }

  .urban-futsal-logo {
    padding: 0 !important;
    margin: 0 !important;
    line-height: 20px !important;
    min-height: 20px !important;
  }
}

@media(max-width: 991px) {
  #base-logo-container {
    .info-text {
      margin-top: 5%;
    }
  }

  #info-container {
    margin-top: 125px !important;
  }

}

@media(max-width: 1200px) {
  #info-container {
    .info-text {
      margin-top: -90px !important;
    }
  }
}
